.container {
  /* display: grid | inline-grid; */
  display: grid;
  grid-template-columns: 100px 500px 100px;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
  /* 
  grid-template-rows: 80px auto 80px;
  column-gap: 100px;
  row-gap: 105px; */
  /* grid-column-start: -1; */
  /* grid-column-end: five; */
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: row1-start;
  grid-row-end: 3; */
}
.outter-image {
}
.inner-image {
  border-radius: 30px;
}
